@import './stylesheets/variables/variables';

.App {
  margin: 2rem;
  font-family: 'Courier New', Courier, monospace, Helvetica, sans-serif;
  background-color: black;
  color: white;
}

@import '~bootstrap/scss/bootstrap';